
.pi-slider-images-full-width {
    border: solid 1px #EEEEEE;
    box-shadow: 0 0 1px #eee;
    padding: 20px;
    position: relative;
}

.pi-slider-images-full-width .number {
    text-align: center;
    font-size: 250px;
    font-family: monospace;
    color: #fff;
    background-color: #00BCD4;
    padding: 50px;
}

.pi-slider-images-full-width .buttons {
    position: absolute;
    top: 50%;
    height: 0;
    left: 0;
    right: 0;
}

.pi-slider-images-full-width .buttons button {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    outline: none;
    border-radius: 100%;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 30px;
    margin-top: -20px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
}

.pi-slider-images-full-width .buttons button:first-child {
    left: 0;
    background-image: url(../../img/arrowLeft.png);
}

.pi-slider-images-full-width .buttons button:first-child + button {
    right: 0;
    background-image: url(../../img/arrowRight.png);
}

.pi-slider-images-full-width .buttons button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
    opacity: 1;
}
.text-slider h2 {
	font-family: 'Kaushan Script';
	font-size: 3em;
	color: rgb(247, 204, 75);
	margin-bottom: 10px;
  text-align: center;
}
.text-slider h3 {
	font-family: 'Kaushan Script';
	font-size: 3em;
	color: #FFF;
  text-align: center;
}
